@import url("http://fast.../fonts.net/t/1.css?apiType=css&projectid=efc4539d-0317-4595-93cd-ddceafba71d4");
@font-face {
	font-family:"AlternateGothicW01-No2 691799";
	src:url("../fonts/694d9d39-2113-4431-b278-0ea3d7a2b062.eot?#iefix");
	src:url("../../fonts/694d9d39-2113-4431-b278-0ea3d7a2b062.eot?#iefix") format("eot"),url("../fonts/2fc75594-a7bb-4e8f-ad81-b7e8ddeb0435.woff") format("woff"),url("../fonts/a7e5a390-5440-4b7f-9500-9bd0b8dde16a.ttf") format("truetype"),url("../fonts/9036ea97-77a0-44a0-bbc9-64d2733c9484.svg#9036ea97-77a0-44a0-bbc9-64d2733c9484") format("svg");
}
@font-face {
	font-family:"OfficinaSansITCW01-Book 734509";
	src:url("../fonts/e4f88d1f-2f5e-49a0-9361-9fcdc5bfc795.eot?#iefix");
	src:url("../fonts/e4f88d1f-2f5e-49a0-9361-9fcdc5bfc795.eot?#iefix") format("eot"),url("../fonts/60567f88-1ef5-4f2c-9951-3ce3845f9967.woff") format("woff"),url("../fonts/ec8c3086-5408-4f25-97d0-f1f4c7014668.ttf") format("truetype"),url("../fonts/d29fed54-ae01-49ef-94e2-3e3fb9df3f70.svg#d29fed54-ae01-49ef-94e2-3e3fb9df3f70") format("svg");
}
@font-face {
	font-family:"OfficinaSansITCW01-Book 734512";
	src:url("../fonts/2cc84b16-2765-45df-82db-1d8c63b97ea4.eot?#iefix");
	src:url("../fonts/2cc84b16-2765-45df-82db-1d8c63b97ea4.eot?#iefix") format("eot"),url("../fonts/7895df1c-c1ad-4189-91fa-0c041359c821.woff") format("woff"),url("../fonts/153b7835-57ac-4a79-8632-6c639baa03f5.ttf") format("truetype"),url("../fonts/c34f183d-16cc-4f0f-98a5-e5b65d508953.svg#c34f183d-16cc-4f0f-98a5-e5b65d508953") format("svg");
}

body {
	background-color: #f6ffe4;	
	color: #6d6638;
}

.header {
	background-color: #def2b7;
	border-bottom: 10px solid #afd75c;
}

.header p {
	font-size: 19px;
	font-family: "OfficinaSansITCW01-Book 734512", sans-serif;
}

h1 {
	text-transform: uppercase;
	font-family:'AlternateGothicW01-No2 691799', sans-serif;
	font-weight: normal;
	
	font-size: 40px;
	margin-bottom: 0;
}

h3 {
	text-transform: uppercase;
	font-family:'AlternateGothicW01-No2 691799', sans-serif;
	font-weight: normal;
	
	font-size: 27px;
}

hr {
	background-color: transparent;
	background-image: url('../images/dots@2x.png');
	background-repeat: repeat-x;
	background-size: 4px 4px;
	
	height: 3px;
	
	border: none;
}